"""Worker settings loaded from environment / .env."""

from pydantic_settings import BaseSettings, SettingsConfigDict


class Settings(BaseSettings):
    model_config = SettingsConfigDict(env_file=".env", env_file_encoding="utf-8", extra="ignore")

    broker_url: str = "{{ brokerUrl }}"
    result_backend: str = "{{ resultBackend }}"
    task_always_eager: bool = False


settings = Settings()
